altgraph==0.17
astroid==2.5.1
auto-py-to-exe==2.8.0
autopep8==1.5.5
bottle-websocket==0.2.9
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
Eel==0.14.0
future==0.18.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
moviepy==1.0.3
numpy==1.20.1
pefile==2019.4.18
Pillow==8.1.2
proglog==0.1.9
pycodestyle==2.7.0
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2021.1
pylint==2.7.2
pypiwin32==223
pytube==10.5.3
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4
whichcraft==0.6.1
wrapt==1.12.1
